        html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}
        
        .clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }
        
        html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;scroll-behavior: smooth;}
        
        
        *, *:before, *:after {box-sizing: inherit}
        
        .sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}
        
        .visually-hidden:not(:focus):not(:active) { position: absolute !important; height: 1px;  width: 1px; overflow: hidden; clip: rect(1px 1px 1px 1px); /* IE6, IE7 */ clip: rect(1px, 1px, 1px, 1px); white-space: nowrap; /* added line */}

        /* set default text styles */

        :root {
            --copyText: #090809;
            --dark: #2c0e37;
            --light: #f62dae;
            --secondary: #00b4d8;
            --white: #f5e6e8;
            --fontHeading: "Poppins", sans-serif;
            --fontBody: "Fahkwang", sans-serif;
        }
        body {
            font-family: var(--fontBody);
            font-size: 125%;
            background: var(--white);
            overflow-x: hidden;
        }
        h1 {
            position: absolute;
            top: 40%;
            left: 52%;
            transform: rotate(-10deg) translate(-50%, -50%);
            transform-origin: center center;
            z-index: 10;
            font-family: var(--fontHeading);
            font-size: 5rem;
            text-shadow: -1px 1px 0px var(--dark), -2px 2px 1px var(--dark), -3px 3px 1px var(--dark), -4px 4px 1px var(--dark), -5px 5px 1px var(--dark), -6px 6px 1px var(--dark), -7px 7px 1px var(--dark), -8px 8px 1px var(--dark), -9px 9px 1px var(--dark), -10px 10px 0px var(--dark);
            -webkit-text-stroke: 2.5px var(--white);
            -webkit-text-fill-color: var(--dark);
            font-weight: 700;
        }
        h1,
        h2,
        h3,
        h5 {
            text-transform: uppercase;
        }
        h1,
        h2,
        h3,
        h5 {
            text-align: center;
        }

        h5 {
            margin: 0;
            padding-top: 40px;
        }
        i {
            font-size: 1.5rem;
        }
        p {
            font-size: 1.1rem;
        }
        a {
            color: var(--dark);
            text-shadow: 0.05rem 0.05rem var(--light);
            text-decoration: none;
            transition: 1s ease;
        }
        a:hover {
            text-shadow: 0.05rem 0.05rem var(--secondary);
        }
        .wrapper {
            margin: 0 auto;
            max-width: 1100px;
            width: 90%;
        }
        nav {
            display: flex;
            justify-content: center;
        }
        .mobile-nav {
            height: 70vh;
            width: 100vw;
            position: absolute;
            top: -600px;
            left: 0;
            z-index: 20;
            background: var(--dark);
            transition: top 1s ease;
        }
        .mobile-nav-invisible,
        .burger-menu {
            display: none;
        }
        ul {
            padding-left: 0;
            list-style-type: none;
            display: flex;
        }
        .nav-list li a,
        .social-list li a,
        .resume-list li a,
        .footer-social-list li a,
        .mobile-nav-list li a {
            padding: 10px;
            text-decoration: none;
            text-transform: uppercase;
        }
        /* change colour of mobile menu */
        .dark-menu {
            color: var(--white);
            transition: color 1s ease;
        }
        /* .regular-menu {
            color: var(--dark);
            transition: color 1s ease;
        } */

        .social-list {
            position: absolute;
            top: 0;
            right: 2%;
            z-index: 21;
        }
        /* scroll arrow */
        .scrollArrow {
            font-size: 2rem;
            position: absolute;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            text-align: center;
            animation: bob 5s ease infinite;
            color: var(--dark);
            font-size: 3rem;
        }
        @keyframes bob {
            0% {
                bottom: 0%;
            }
            50% {
                bottom: 5%;
            }
            100% {
                bottom: 0%;
            }
        }
        /* image carousel styling */
        .splide__slide img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 30px;
        }
        /* dividing line */
        .solid-line {
            border-bottom: 2px solid var(--copyText);
            width: 80%;
            margin: 50px auto 0 auto;
        }
        .diag-square {
            width: 16px;
            height: 16px;
            background: var(--dark);
            transform: rotate(45deg);
            position: relative;
            left: 50%;
            bottom: -9px;
        }
        /* section colours */
        .about {
            padding: 50px 0 0 0;
        }
        .about-headshot {
            width: 50%;
            max-width: 300px;
        }
        .about-headshot img {
            width: 100%;
            border-radius: 30px;
        }
        .work-headline {
            padding: 50px 0;
        }
        .work-image {
            width: 300px;
            display: flex;
            align-items: center;
        }
        .work-image img {
            width: 100%;
        }
        .marquee-quote {
            text-align: center;
        }
        .work-card,
        .about-container {
            display: flex;
            justify-content: center;
            margin: 20px auto;
            position: relative;
        }
        .invisible-work-card {
            display: none;
        }
        .about-container {
            margin-top: 40px;
        }
        .even-image-card {
            order: 1;
        }
        .more-work {
            margin: 50px;
        }
        .copy-container,
        .about-copy {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 20px 20px 20px 20px;
        }
        .about-copy-2 {
            padding: 0 20px;
        }
        .about-copy {
            margin-left: 10px;
            width: calc(50% - 10px);
        }
        .quote {
            font-weight: bold;
            text-align: center;
        }
        .copy-title {
            margin: 0;
            text-align: left;
        }
        .contact {
            text-align: center;
            padding-top: 40px;
        }
        .lessons-copy {
            text-align: left;
            padding-top: 20px;
        }
        .lower {
            margin: 30px auto 50px auto;
        }
        footer {
            background: var(--dark);
            color: var(--white);
            padding-bottom: 20px;
        }
        .footer-social-list li a {
            color: var(--white)
        }

        /* work page */
        .headline-section {
            height: 100vh;
            position: relative;
            border-top: 100px solid var(--white);
        }
        .headline-container {
            display: flex;
            flex-direction: column;
            background-color: var(--dark);
            color: var(--white);
            padding: 0 20px;
            position: absolute;
            bottom: 0;
            opacity: 0.8;
            width: 100%;
        }
        .headline-title,
        .headline-copy,
        .booking-link {
            text-align: left;
        }
        .wannabe {
            background-image: url("./wannabe.jpg");
            background-attachment: fixed;
            background-position: center top;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .lovehurts {
            background-image: url("./loveHurts.jpeg");
            background-attachment: fixed;
            background-position: center top;
            background-repeat: no-repeat;
            background-size: cover;
            border-top: 0px;
        }
        .resume {
            height: auto;
            padding: 0 0 50px 0;
        }
        .resume > p {
            text-align: center;
        }
        .booking-link {
            padding: 20px 0;
        }
        .booking-link a {
            padding-right: 40px;
        }

        /* contact form styling */

        .contact-container {
            display: flex;
            justify-content: space-around;
        }

        .contact-info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .contact-info p {
            margin: 12px 0 6px;
        }

        .field {
            display: flex;
            flex-direction: column;
        }

        input[type="text"],
        input[type="email"],
        textarea {
            border: none;
            box-shadow: 6px 6px 0px var(--dark);
            margin: 10px;
            border: 2px solid var(--copyText);
            border-radius: 6px;
            padding-left: 10px;
            font-family: inherit;
            background: var(--white);
        }

        button {
            margin: 10px auto;
            padding: 10px 30px;
            background-color: var(--dark);
            border-radius: 30px;
            font-family: inherit;
            color: var(--white);
            border: none;
        }
        button:hover {
            color: var(--light);
        }

        /* 768px - break to burger menu */
        @media (max-width: 792px) {
            .burger-menu {
                display: inline-block;
                padding: 20px;
                position: relative;
                z-index: 21;
            }
            .nav-list {
                display: none;
            }
            .mobile-nav-visible {
                display: block;
                transition: top 1s ease;
                top: 0;
            }
            .mobile-nav-list {
                display: flex;
                flex-direction: column;
                text-align: center;
                margin-top: 80px;
            }
            .mobile-nav-list li {
                padding: 20px;
            }
            .about-container {
                padding: 0;
            }
            .about-headshot {
                width: 100%;
            }
            .about-copy {
                width: 100%;
                margin-left: 0;
            }
            .work-card,
            .about-container {
                flex-direction: column;
                align-items: center;
            }
            .even-image-card {
                order: 0;
            }
            .work-image{
                width: 70%;
            }
        }

        @media (max-width: 640px) {
            h1 {
                font-size: 3rem;
                -webkit-text-stroke: 1.5px var(--white);
            }
            .contact-container {
                flex-direction: column;
            }
            .contact-info {
                align-items: center;
                margin-bottom: 20px;
            }
        }
        @media (max-width: 480px) {
            h1 {
                font-size: 2.5rem;
                -webkit-text-stroke: 1px var(--white);
            }

            p,
            a {
                font-size: 1rem;
            }
            h5 {
                font-size: 1rem;
            }
            .resume-headline {
                height: 20vh;
            }
            .work-image{
                width: 100%;
            }
            .wannabe,
            .lovehurts {
                background-attachment: scroll;
                background-size: cover;
            }
            .headline-section:not(.lovehurts) {
                border-top: 50px solid var(--white);
            }
            .headline-container {
                position: absolute;
                bottom: 0;
            }
            .resume {
                height: auto;
            }
        }
